/* stylelint-disable custom-property-pattern */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family--title);
  line-height: 120%;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;

  font-family: var(--font-family--main);
  font-size: 100%;
}

a {
  text-decoration: none;

  color: inherit;
}

:root {
  --max-width: 1225px;

  /* colors vars */
  --white: #fff;
  --primary: #fff;
  --secondary: #a2cbfb;
  --btn-bg-gradient: linear-gradient(
    180deg,
    #1ff2ff 0%,
    #27f9e5 52.66%,
    #2fffcd 100%
  );
  --btn-default: #0a1482;
  --btn-hover: #3b48d0;
  --btn-active: #fff;
  --font-family--main: var(--inter-font), sans-serif;
  --font-family--title: var(--clash-display-font), sans-serif;
}
